#!/bin/bash
# {{ ansible_managed }}

# Temporary stuff
SCRATCHDIR={{ scratchDir }}

# Local scripts
PATH+=":~/bin"

# Ruby gem stuff
PATH+=":`ruby -e 'print Gem.user_dir'`/bin"
GEM_HOME=$(ruby -e 'print Gem.user_dir')
